$color:#6D443B;
$font-family: 'Roboto Condensed', sans-serif;
$font-size: 20px;
$margin-center: 0 auto;

body{
    background-color:#F5ECEA;
    color:$color;
    font-family: $font-family;
}
h2{
    text-align: center;
}
.registration{
    margin: $margin-center;
    padding: 20px;
    background-color: rgb(190, 238, 236);
    width: 50%;
    height: 300px;
    form{
        label{
            font-size: 20px;
            display: inline-block;
            float: left;
            width: 240px;
            text-align: right;
        }
        input{
            display: inline-block;
            float: left;
            margin: 5px;
            padding: 5px;
        }
        #button{
            
        }
    }
}
.container{
    margin: $margin-center;
    width: 50%;
}

.space{
    height: 100px;
}
.list{
    font-size: $font-size;
    margin: $margin-center;

}